@page "/itemoverview"

<h1>All Items</h1>
<div class="row">
    <div class="col-md-12">
        <a href="/itemedit" class="btn btn-success">New ToDo</a>
    </div>
</div>
@if (Items == null)
{
    <h1>Loading</h1>
}
else
{
    <h1 class="center">ToDo List</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>
                        <a href="@($"itemdetail/{item.Id}")" class="btn btn-success">Details</a>
                         <a href="@($"ItemEdit/{item.Id}")" class="btn btn-info">Edit</a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}